{% extends "header.html" %}

{% block content %}
<div class="hero-unit">
    <div class="row-fluid">
        <div class="span5">
            <h1>linkyto<i class="icon-share"></i>me</h1>
        </div>
        <div class="span1 offset4">

        </div>
    </div>
    <div class="row-fluid">
        <p>A quick way to save URLs wherever, whenever.</p>
    </div>
</div>
<div class="row-fluid">
    <div class="well span5">
        <p>img</p>
    </div>
    <div class="well span7">
        <p>{{ lipsum(n=1) }}</p>
    </div>
<div class="row-fluid">
    <div class="well span7">
        <p>{{ lipsum(n=1) }}</p>
    </div>
    <div class="well span5">
        <p>img</p>
    </div>
</div>
</div>
{% endblock %}