{% extends "header.html" %}

{% block content %}
    <div class="container">
    {% if show_form %}

            <div class="row">
                <div class="span8">
                    <h1>Sign up for linkyto.me.</h1>
                    <p class="lead">You'll receive an email shortly after registering.</p>
                </div>
            </div>
            <div class="well">
                <form class="form-horizontal" method="POST" action="" xmlns="http://www.w3.org/1999/html">
                    {{ form.hidden_tag() }}
                    <div class="control-group">
                        <label class="control-label" for="email">Email</label>
                        <div class="controls">
                            {{ form.email(size=30) }}
                            {% for error in form.errors.email %}
                                <span style="color: red;">[{{error}}]</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </form>
            </div>
    {% elif reg_results %}
        <div class="hero-unit">
            <h1>Registered!</h1>
            <p>Check your email for a registration email. We'll need
                you to be verified before we get started.</p>
        </div>
    {% elif not reg_results %}
        <h1>Whoa!</h1>
        <p><span class="text-error">{{ error }}</span>  Need to
            <a href="{{ url_for('recovery') }}">recover</a> your account?</p>

    {% endif %}
    </div>
{% endblock %}