{% extends "header.html" %}

{% block title %}
    Success
{% endblock %}

{% block container %}
    <div class="buffer_25"></div>

    <div class="jumbotron">
        <h1>Success!</h1>
    </div>

    <div class="row">
        <div class="buffer_100"></div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">Looks Good!</p>
                </div>
                <div class="panel-body">
                    <p>Please check your email for a verification link in order to complete the signup process.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}